<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div class="card hovercard profile-style">
        <div class="cardheader">

        </div>
        <div class="avatar">
          <img alt="" src="../../../assets/images/Screenshot from 2019-04-16 13-04-22.png">
        </div>
        <div class="info">
          <div class="title">
            <span style="color:blue">@{{userProfile.name}}</span>
            <p style="font-size:0.5em !important">{{userProfile.userName}} </p>
          </div>
          <div class="desc">Passionate designer</div>
          <div class="desc">Curious developer</div>
          <div class="desc">Tech geek</div>
        </div>
        <div class="bottom">
          <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="btn btn-danger btn-sm" rel="publisher" href="https://plus.google.com/+ahmshahnuralam">
            <i class="fa fa-google-plus"></i>
          </a>
          <a class="btn btn-primary btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
            <i class="fa fa-behance"></i>
          </a>
        </div>
      </div>

    </div>

  </div>
</div>