.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }

  .anc-pad{
      margin: 8px 5px;
  }

  .topic-style{
      padding: 20px !important;
  }

  .sidebar{
      background-color: #212529;
      color: white;
  }

  a{
      text-decoration: none !important;

  }

  .discussion{
      background-color: #212529;
      color: white;
      padding: 15px;
      margin: 10px;
  }