<div *ngFor="let message of messages">
  {{message}}
</div>

<p>To:&nbsp;</p> <input type="text" [(ngModel)]="composedMail.to">

<p>Subject:&nbsp;</p><input type="text" [(ngModel)]="composedMail.subject">

<p>Mail:&nbsp;</p><input type="text" [(ngModel)]="composedMail.message" required>

<input type="button" value="SEND" (click)="sendMail()">
<!-- 
<input type="text" [(ngModel)]="sendingMsg" (keyup)="typing()">
<button (click)="sendMsgToOne()">Send</button> -->

<!-- <p *ngIf="recievingTypingStatus">
  {{sendersName}} is typing...
</p> -->


<div *ngIf="receivedMail">
  <p>Subject: {{receivedMail.subject}} </p>
  <p>Message: {{receivedMail.message}} </p>
</div>