<div class="footer">
    <div class="container">
        <div class="row ">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <!-- <div class="ft-logo"><img src="../../../assets/images/Screenshot from 2019-04-16 13-04-22.png" alt=""></div> -->
            </div>
        </div>
        <hr class="footer-line">
        <div class="row ">
            <!-- footer-about -->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                <div class="footer-widget ">
                    <div class="footer-title">Mailing</div>
                    <ul class="list-unstyled">
                        <li><a routerLink="/connect_and_share/user/chat">Send Mail</a></li>
                        <li><a routerLink="/connect_and_share/user/inbox">Inbox</a></li>
                        <li><a routerLink="/connect_and_share/user/sent">Sent</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.footer-about -->
            <!-- footer-links -->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                <div class="footer-widget ">
                    <div class="footer-title">Workspaces</div>
                    <ul class="list-unstyled">
                        <li><a routerLink="/connect_and_share/workspaces">Check</a></li>
                        <li><a routerLink="/connect_and_share/workspaces/create">Create</a></li>
                        <li><a routerLink="/">Discussions</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.footer-links -->
            <!-- footer-links -->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                <div class="footer-widget ">
                    <div class="footer-title">Social</div>
                    <ul class="list-unstyled">
                        <li><a routerLink="#">Twitter</a></li>
                        <li><a routerLink="#">Google +</a></li>
                        <li><a routerLink="#">Linked In</a></li>
                        <li><a routerLink="#">Facebook</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.footer-links -->
            <!-- footer-links -->
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-6 col-6 ">
                <div class="footer-widget ">
                    <h3 class="footer-title">Subscribe Newsletter</h3>
                    <form>
                        <div class="newsletter-form">
                            <input class="form-control" placeholder="Enter Your Email address" type="text">
                            <button class="btn btn-default btn-sm" type="submit">Go</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.footer-links -->
            <!-- tiny-footer -->
        </div>
        <div class="row ">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center ">
                <div class="tiny-footer">
                    <p>Copyright © All Rights Reserved 2020 | Template Design & Development by <a routerLink="https://easetemplate.com/downloads/bitcoin-cryptocurrency-website-template-amazing-design " target="_blank" class="copyrightlink">EaseTemplate</a></p>
                </div>
            </div>
            <!-- /. tiny-footer -->
        </div>
    </div>
</div>
<!-- /.footer -->