<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign Up</h3>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fab fa-facebook-square"></i></span>
          <span><i class="fab fa-google-plus-square"></i></span>
          <span><i class="fab fa-twitter-square"></i></span>
        </div>
      </div>
      <div class="card-body">
        <div *ngIf="error" style="color:red">
          {{error}}
        </div>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" id="name" [(ngModel)]="newUser.name" name="name" class="form-control" placeholder="Name"
              required #name="ngModel" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" minlength="3">
          </div>
          <div *ngIf="name.invalid && name.touched" style="color:red;">
            <div *ngIf="name.errors.required">
              Field is mandatory
            </div>
            <div *ngIf="name.errors.pattern">
              Wrong characters passed
            </div>
            <div *ngIf="name.errors.minlength">
              More than 3 characters required
            </div>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" [(ngModel)]="newUser.userName" name="userName" class="form-control"
              placeholder="Username" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
              #username="ngModel">
          </div>
          <div *ngIf="username.invalid && username.touched" style="color:red;">
            <div *ngIf="username.errors.required">
              Field is mandatory
            </div>
            <div *ngIf="username.errors.pattern">
              Invalid pattern
            </div>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" [(ngModel)]="newUser.phoneNo" name="phoneNo" class="form-control"
              placeholder="Mobile Number" #phoneNo="ngModel" pattern="^[2-9]{2}[0-9]{8}$">
          </div>
          <div *ngIf="phoneNo.invalid && phoneNo.touched" style="color:red;">
            <div *ngIf="phoneNo.errors.pattern">
              Invalid Pattern
            </div>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" [(ngModel)]="newUser.password" name="password" class="form-control"
              placeholder="Password" required #password="ngModel">
          </div>
          <div *ngIf="password.invalid && password.touched" style="color:red;">
            <div *ngIf="password.errors.required">
              Password is required
            </div>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" [(ngModel)]="checkPass" name="repassword" class="form-control"
              placeholder="Re-enter Password" required #repassword="ngModel">
          </div>
          <div *ngIf="repassword.invalid && repassword.touched" style="color:red;">
            <div *ngIf="repassword.errors.required">
              Mandatory Field
            </div>
          </div>
          <div *ngIf="checkPass">
            <p style="color: red" *ngIf="!isPassCorrect(); else other_content">Passwords not matching</p>
            <ng-template #other_content>
              <p style="color: green">Password Match</p>
            </ng-template>
          </div>
          <div class="form-group">
            <input type="submit" value="Sign Up" (click)="userSignup()" [disabled]="f.form.pristine || f.form.invalid"
              class="btn float-right login_btn">
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Already have an account?<a href="/connect_and_share/login">Sign In</a>
        </div>
      </div>
    </div>
  </div>
</div>