<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign In</h3>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fab fa-facebook-square"></i></span>
          <span><i class="fab fa-google-plus-square"></i></span>
          <span><i class="fab fa-twitter-square"></i></span>
        </div>
      </div>
      <div class="card-body">
        <div *ngIf="error" style="color:red">
          {{error}}
        </div>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" id="userName" [(ngModel)]="cred.userName" name="userName" class="form-control"
              placeholder="username" #userName="ngModel" required>
          </div>
          <div *ngIf="userName.invalid && userName.touched" style="color:red;">
            <div *ngIf="userName.errors.required">
              Username is required
            </div>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" [(ngModel)]="cred.password" name="password" class="form-control"
              placeholder="password" #password="ngModel" required>
          </div>
          <div *ngIf="password.invalid && (password.dirty || password.touched)" style="color:red;">
            <div *ngIf="password.errors.required">
              Password field cannot left empty
            </div>
          </div>
          <div class="form-group">
            <input type="submit" value="Login" [disabled]="f.form.pristine || f.form.invalid" (click)="userLogin()"
              class="btn float-right login_btn">
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Don't have an account?<a href="/registration">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>